html,body
{
    margin: 0;
    padding: 0;
    text-align: center;
    background: rgb(2,0,36);
background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(144,136,193,0.865983893557423) 35%, rgba(0,212,255,1) 100%);
}

.heading
{
    
    font-size: 5vw;
    font-family: roboto;
    
}
.inputContainer
{
    
    width: 300px;
    margin: 0 auto;
}
.input
{
    height: 40px;;
    font-size: 1.2em;
}
#circle
{
    height: 3px;
    width: 3px;
    border-radius: 50%;
    margin: 0 auto;
    background: black;
}
#container
{
    margin: 25px auto;
    height: 400px;
    width: 90vw;
    border: 1px solid skyblue;
}
#paint
{
    background-color: #ffffff;
    cursor: crosshair;
}
#inputContainer2
{
    width: 400px;
    margin: 0 auto;
    height: 100px;
}
.input2
{
    width: 130px;
    font-size: 1.3em;
    color: #ffffff;
    float: left;
}
.button
{
    background-color: rgba(55, 60, 65, 0.253);
    padding: 10px;
    border-radius: 10%;
    cursor: pointer;
}
 .button:active
{
    top: 3px;
    background-color: rgba(122, 25, 30, 0.514);
    border-bottom: 2px solid rgba(124, 24, 24, 0.726);
}
.er_button
{
    background-color:black;
    color: #ffffff;
}

@media screen and (max-width: 450px) {
    #paint {
      width: 375px;
      height: 400px;
    }
  }
